<% include header %>
<h2>Following user is successfully saved:</h2>
<h3> Name: <%= user.name %> </h3>
<h3> Mailid: <%= user.mailId %> </h3>
<a href="index.html">Home</a> <br/>
<a href="allUsers">View Users</a> 
<% include footer %>
